# Скомпилированные классы и JAR'ы
*.class
*.war
*.ear

# Логи
*.log

# Папки сборки
/bin/
/build/
/out/
/target/

# Конфигурация IDE (Eclipse, IntelliJ IDEA, NetBeans и др.)
*.iml
.idea/
.vscode/
.project
.classpath
.settings/
.nb-configuration.xml

# Системные файлы
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle Wrapper
.gradle/
!gradle/wrapper/gradle-wrapper.jar
